html,
body {
  background-color: black;
  color: white;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  border-radius: 20px;
  width: 30%;
  height: auto;
  margin: 15px;
}

main h1,
main p {
  text-align: center;
  margin: auto;
}

.userUploads,
.results {
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.userContainer,
.resultsContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  border: 1px solid rgb(254, 180, 123);
  border-radius: 20px;
  margin-top: 25px;
}

.userContainer p,
.resultsContainer p {
  font-size: 1.8rem;
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  width: 100%;
}

.xLink {
  text-decoration: none;
  border-top-left-radius: 15px;
  border: 1px solid black;
  background-color: white;
  height: 15px;
  font-size: .7rem;
  text-align: center;
  font-weight: 800;
  padding: 10px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xLink:hover {
  opacity: .6;
}

.xLink span {
  color: var(--color-peach);
  /* Gradient text for supported browsers */
  background: linear-gradient(90deg, rgb(255, 126, 95), rgb(254, 180, 123));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* Standard property */
  text-fill-color: transparent;
  /* Safari? */
}
